CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeLists.txt.user
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
install/
tools/
*.a
far2l/bootstrap
python/staging
python/python
python/incpy
build/
.idea
CPackConfig.cmake
CPackSourceConfig.cmake
*.cbp
cmake-build-*
.DS_Store
_build/
packaging/osx/FixupBundle.cmake
packaging/osx/Setup.scpt
far2l_askpass
far2l_sudoapp

