*.log
build/
/src/NetBox-build/
build-CMakeLists.txt-*
/src/build-NetBox-*

/Far2_x86/
/Far2_x64/
/Far3_x86/
/Far3_x64/
res.txt
#libs/
libs/openssl/tmp32/
libs/openssl/crypto/buildinf.h
libs/openssl/NUL
ipch/
*.tmp
*.opensdf
*.sdf
*.suo
*.pdb
*.exp
*.dll
*.lib
*.obj
*.bak
*.vcxproj.filters
*.vcxproj.user
*.cache
*.zip
*.7z
*.tgz
*.orig

*.vsp
*.psess
*.i
*.exe
*.res
*.rbj
*.idb
*.aps
*.idc
*.ctl

tags
README.html
CMakeLists.txt.user

*.cbp

cov-int/
/src/NetBox/My */
/src/NetBox/.idea/

.vs/
*.VC.db
*.VC.opendb
