[Desktop Entry]
Type=Application
Name=Far2l Editor (WX GUI)
Name[ru]=Редактор Far2l (WX GUI)
Comment=Edit text files
Comment[ru]=Редактирование текстовых файлов
Exec=far2ledit --notty %f
TryExec=far2ledit
Terminal=false
MimeType=text/plain;
Categories=Utility;TextEditor;
Icon=far2ledit-wx
Keywords=editor;console;text;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Name[ru]=Новое окно
Name[en_GB]=New Window
Name[uk]=Нове вікно
Name[hu]=Új ablak
Exec=far2ledit --notty %f
