[Desktop Entry]
Type=Application
Name=far2l (Terminal)
GenericName=far2l
Comment=File and archive manager
TryExec=far2l
Exec=far2l --tty %U
Terminal=true
Categories=Utility;FileManager;System;FileTools;
MimeType=inode/directory;
Icon=far2l
StartupNotify=true
