[Desktop Entry]
Type=Application
Name=far2l
GenericName=far2l
Comment=File and archive manager
Exec=far2l
TryExec=far2l
Terminal=false
Categories=Utility;FileManager;
Icon=far2l
StartupNotify=true
