[Desktop Entry]
Type=Application
Name=far2l (Terminal)
Name[ru]=far2l (Терминал)
GenericName=far2l
Comment=File and archive manager
Comment[ru]=Программа управления файлами и архивами
TryExec=far2l
Exec=far2l --tty %F
Terminal=true
Categories=Utility;FileManager;System;FileTools;
MimeType=inode/directory;
Icon=far2l
StartupNotify=true
