[*]
indent_style = space
indent_size = 2

[src/formats/ha/ha/*]
indent_size = 4

[src/formats/libarch/*]
indent_style = tab
indent_size = 4

[src/formats/rar/unrar/makefile]
indent_style = tab

[CMakeLists.txt]
indent_style = space
indent_size = 4
